/SEM-6/Cloud Computing/My_Practicals/Prac-1/WebApplicationServer/nbproject/private/
/SEM-6/Cloud Computing/My_Practicals/Prac-1/WebApplicationServer/build/
/SEM-6/Cloud Computing/My_Practicals/Prac-1/webclient/nbproject/private/
/SEM-6/Cloud Computing/My_Practicals/Prac-1/webclient/build/